
body {
    background-image: url("../images/background.jpg");
}

div {
    margin: 10px;
    width: 100%;
    padding: 10px;
    background-color: #fad15f;                    
    text-align: center;
}

.jumbotron{
    background-color: #fad15f;
}

h1 {
    font-family: fantasy;
    color: rgb(82, 80, 80);
}

button {
    margin: 5px;
}

#question {
    font-size: 35px;
    font-weight: bold;
}

.btn-info {
    background-color: rgb(7, 124, 89);
}
